<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>داشبورد | <%= pageTitle %></title>
    <%- include('./../includes/links.ejs', { path : '/dashboard' }) %>
  </head>
  <body>
     <header class="header">
        <div class="user-info">
            <img src="<%= user.avatar === 'user.png' ? './../img/user.png' : `./../img/avatars/${user.avatar}` %>" alt="<%= user.nickName %>" >
            <span><%= user.nickName %></span>
        </div>
        <div class="page-title">
            <h1><%= pageTitle %></h1>
        </div>
        <a class="logout" href="/logout">
            خروج از حساب <i class="fa fa-sign-out"></i>
        </a>
     </header>
     <main>
        <aside class="aside">
            <h2 class="aside-title">لینک های مفید</h2>
            <ul class="nav">
                <li>
                    <a href="/dashboard" class="<%= path === '/dashboard' ? 'active' : '' %>">داشبورد</a>
                </li>
                <li>
                    <a href="/dashboard/upload" class="<%= path === '/upload' ? 'active' : '' %>">آپلود تصاویر</a>
                </li>
                <li>
                    <a href="#">تغییر اطلاعات</a>
                </li>
                <li>
                    <a href="#">تغییر رمز عبور</a>
                </li>
            </ul>
        </aside>
      <section>
        <%- body %>
      </section>
     </main>

     <%- script %>
  </body>
</html>
